@media screen and (max-width: 600px) {
  * {
    /* margin: 0;
    padding: 0; */
  }
  .banner-section {
    flex-direction: nowrap;
    justify-content: center;
    align-items: center;
  }
  .text-div {
    width: 100%;
    padding-left: 30px;
    padding-top: 10px;
  }
  .banner-section img {
    width: 100%;
    height: 483px;
    padding: 15px;
  }
  .heading {
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    /* border: 2px solid palevioletred; */
  }
  .banner-description {
    font-size: 14px;
    width: 350px;
    margin-top: 5px;
    padding-bottom: 0;
  }
  .input-section {
    display: flex;
    width: 270px;
    padding-left: 16px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  #input {
    width: 250px;
    height: 40px;
  }
  .when i,
  .type i {
    left: 210px;
    bottom: 15px;
  }
  .common-btn {
    width: 250px;
    height: 40px;
  }
  .tour-section {
    flex-direction: column;
    padding: 20px;
  }
  .tour-img {
    padding-left: 12px;
  }
}
