@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
}
main {
  max-width: 1100px;
  margin: 0 auto;
}
/* banner */
.banner-section1 {
  /* border: 2px solid rebeccapurple; */
  padding-top: 50px;
}
.banner-section {
  /* max-width: 1100px; */
  height: 500px;
  border-radius: 16px;
  /* margin: 0 auto; */
  background: linear-gradient(to bottom, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)),
    url('../Images/banner.png');
}
.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  /* border: 2px solid peru; */
  height: 400px;
  width: 90%;
}
.heading {
  color: #fff;
  font-size: 34px;
  font-weight: 800px;
  /* border: 2px solid pink; */
  padding-bottom: 30px;
  padding-top: 70px;
}
.banner-description {
  /* padding-top: 30px; */
  width: 800px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  /* border: 2px solid rebeccapurple; */
  padding-bottom: 40px;
}
.input-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  /* border: 2px solid rebeccapurple; */
  width: 950px;
  padding-top: 30px;
}
#input {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background: #fff;
  color: rgba(19, 19, 24, 0.5);
  /* text-align: center; */
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}
.when,
.type {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  position: relative;
}
.when i {
  position: absolute;
  left: 140px;
  bottom: 20px;
}
.type i {
  position: absolute;
  left: 140px;
  bottom: 20px;
}
.common-btn {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
}
.src {
  width: 24px;
  height: 30px;
  font-size: 20px;
  padding-top: 7px;
  color: #fff;
  /* border: 2px solid saddlebrown; */
}
/* tour section */
.tour-section {
  /* max-width: 1100px;
  margin: 0 auto; */
  margin-top: 30px;
  padding: 20px 0px;
  display: flex;
  gap: 10px;
}
.tour-container {
  /* border: 2px solid aqua; */
  width: 50%;
}
.tour-heading {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.tour-description {
  width: 577px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 10px;
}
.tour-point {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 0px 50px;
}
.tour-point li {
  padding: 5px;
}
.tour-img {
  width: 45%;
  max-height: 45%;
  /* border: 4px solid rgb(127, 127, 11); */
}
/* destination style */
.destination-heading {
  color: #131318;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 800;
}
.destination-description {
  width: 800;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 20px;
  /* border: 2px solid rebeccapurple; */
  padding-bottom: 30px;
}
.img-container-1,
.img-container-3 {
  display: flex;
  gap: 20px;
  padding: 10px;
}
.maldive-img-container {
  width: 60%;
  /* border: 2px solid red; */
  position: relative;
}
.maldive-img-container img {
  width: 100%;
}
.indonesia-img-container {
  width: 60%;
  position: relative;
  /* border: 2px solid red; */
}
.indonesia-img-container img {
  width: 100%;
}
.maldive,
.indonesia,
.kashmir,
.america,
.srilanka,
.bandarban,
.bangladesh {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 120px;
  left: 195px;
}
/* img-container-2 */
.img-container-2 {
  display: flex;
  gap: 20px;
  padding-left: 10px;
}
.srilanka-img-container {
  width: 40%;
  /* border: 2px solid magenta; */
  position: relative;
}
.america-img-container {
  width: 40%;
  /* border: 2px solid magenta; */
  position: relative;
}
.kashmir-img-container {
  width: 30%;
  position: relative;
  /* border: 2px solid rebeccapurple; */
}
.kashmir-img-containerimg img {
  width: 60%;
}
.srilanka-img-container img,
.america-img-container img {
  width: 100%;
  height: 95.8%;
}

.srilanka {
  top: 115px;
  left: 110px;
}
.america {
  top: 115px;
  left: 55px;
}
.kashmir {
  top: 117px;
  left: 60px;
}
/* container-3 */
.img-container-3 {
  padding-top: 5px;
}
.bangladesh-img-container {
  width: 50%;
  /* border: 2px solid rebeccapurple; */
  position: relative;
}
.bandarban-img-container {
  width: 60%;
  /* border: 2px solid rebeccapurple; */
  position: relative;
}
.bandarban-img-container img,
.bangladesh-img-container img {
  width: 100%;
  height: 80%;
}
.bangladesh {
  top: 99px;
  left: 130px;
}
.bandarban {
  top: 99px;
  left: 180px;
}
/* why choose us style */
.choose-section {
  padding-bottom: 20px;
}
.heading-text-container {
  text-align: center;
  padding-bottom: 40px;
}
.section-heading {
  color: #131318;
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: 800;
}
.section-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 200;
  line-height: 26px; /* 162.5% */
}
.card-container {
  display: flex;
  gap: 20px;
}
.card1,
.card2,
.card3 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  width: 573px;
  height: 284px;
  padding: 30px;
}
.card2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.card3-conteinar {
  padding-left: 250px;
}
.card3 {
  margin: 20px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.card1 h1,
.card2 h1,
.card3 h1 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 10px;
}

/* newsletter sttyles */
.newsletter-section {
  padding-bottom: 50px;
  display: flex;
  gap: 50px;
}
.newsletter-container {
  width: 40%;
  height: 430px;
  padding: 40px 20px;
  border-radius: 16px;
  border: 1px solid #ff5400;
}
.newsletter-heading {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 20px;
}
.newsletter-drescription {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 20px;
}
.h-line {
  width: 393px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  margin-bottom: 20px;
}
#name,
#email {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  margin-bottom: 20px;
  padding: 20px;
}
#sub {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
}
.newsletter-div {
  position: relative;
}
.newsletter-img {
  width: 90%;
  /* border: 2px solid red; */
}
.newsletter-img img {
  width: 600px;
  height: 430px;
}

.discount {
  padding-top: 20px;
  border: none;
  width: 300px;
  height: 100px;
  border-radius: 16px;
  background: #ff5400;
  /* transform: rotate(-19.628deg); */
  transform: rotate(-25deg);
  position: absolute;
  top: 273px;
  left: 297px;
}
.discount h5 {
  /* transform: scale(0.5), rotate(45deg); */
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.discount h1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
/* footer */
footer {
  width: 100%;
  height: 450px;
  background: rgba(19, 19, 24, 0.05);
}
.footer-section {
  max-width: 1100px;
  margin: 0 auto;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 60px;
}
.footer-heading {
  color: var(--Dark-01, #131318);
  font-size: 32px;
  font-weight: 800;
}
.footer-description {
  text-align: center;
  padding-top: 20px;
}
.social-img {
  padding-top: 70px;
  padding-left: 460px;
}
.footer-hr {
  margin-top: 40px;
  width: 100%;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
.copy-right {
  text-align: center;
  padding-top: 40px;
}
