@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
}
main {
  max-width: 1100px;
  margin: 0 auto;
}
/* banner */
.banner-section {
  /* max-width: 1100px; */
  height: 500px;
  border-radius: 16px;
  /* margin: 0 auto; */
}
.banner-img {
  width: 100%;
  border-radius: 16px;
  color: linear-gradient(to bottom, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0));
  position: relative;
}
.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  /* border: 2px solid peru; */
  height: 400px;
  width: 90%;
}
.heading {
  color: #fff;
  font-size: 34px;
  font-weight: 800px;
  /* border: 2px solid pink; */
  padding-bottom: 30px;
}
.banner-description {
  width: 800px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  /* border: 2px solid rebeccapurple; */
  padding-bottom: 40px;
}
.input-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  /* border: 2px solid rebeccapurple; */
  width: 950px;
}
#input {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background: #fff;
  color: rgba(19, 19, 24, 0.5);
  /* text-align: center; */
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}
.when,
.type {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  position: relative;
}
.when i {
  position: absolute;
  left: 140px;
  bottom: 20px;
}
.type i {
  position: absolute;
  left: 140px;
  bottom: 20px;
}
.common-btn {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
}
.src {
  width: 24px;
  height: 30px;
  font-size: 20px;
  padding-top: 7px;
  color: #fff;
  /* border: 2px solid saddlebrown; */
}
/* tour section */
.tour-section {
  /* max-width: 1100px;
  margin: 0 auto; */
  padding: 10px 0px;
  display: flex;
  gap: 10px;
}
.tour-container {
  /* border: 2px solid aqua; */
  width: 50%;
}
.tour-heading {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.tour-description {
  width: 577px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 10px;
}
.tour-point {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 0px 50px;
}
.tour-point li {
  padding: 5px;
}
.tour-img {
  width: 45%;
  max-height: 45%;
  /* border: 4px solid rgb(127, 127, 11); */
}
/* destination style */
.destination-heading {
  color: #131318;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 800;
}
.destination-description {
  width: 800;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 20px;
  /* border: 2px solid rebeccapurple; */
  padding-bottom: 30px;
}
.img-container-1 {
  display: flex;
  gap: 20px;
}
.maldive-img-container {
  width: 60%;
  /* border: 2px solid red; */
}
.maldive-img-container img {
  width: 100%;
}
.indonesia-img-container {
  width: 60%;
  /* border: 2px solid red; */
}
.indonesia-img-container img {
  width: 100%;
}
